.highlightClass { background:rgba(255, 235, 0, 0.5);}

.filterButton {   
	background-color:#CCCCCC;
	border-style:solid;
	border-color:#CCCCCC;
}   
 .activeFilterButton {
	background-color: #FFF081;
	border-style: solid;
	border-color: #BE760A;
}

#filterButtonArea {
	border: 1px solid #000000;
	width:530px;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 3px 3px;
}

table#one-column-emphasis {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 20px 0;
	width: 850px;
	text-align: left;
	line-height: 1.25;
	border-collapse: collapse;
}

#one-column-emphasis td {
	padding: 5px 15px;
	color: #373737;
	border-top: 1px solid #CCCCCC;
	vertical-align: text-top;
}

thead {
	background: #BE9969;
	color: #FFF;
}

tbody {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
